.mini-terminal{
    width: 70vw;
    height: 25vw;
    min-height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.top-of-terminal-window{
    height: 5vh;
    border-bottom: 2px black solid;
    display: flex;
    align-items: center;
    padding-inline: 2vw;
}

.top-3-circles{
    display: flex;
    color: transparent;
    gap: 10px;
}

.top-3-circles>*{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid black;
}


.terminal-content{
    padding: 1vw;
}

.terminal-title{margin-left: 30%;}

.skills-list{display: flex;}
.skills-list>*{
    width: 30%;
}

@media (max-width: 700px) {
    .mini-terminal{
        width: 100%;
    }
}